/* Font Declaration*/
@font-face {
    font-family: 'Inconsolata';
    src: url(./assets/fonts/Inconsolata-VariableFont_wdth\,wght.woff2);
    font-weight: 400 800;
}
/* Design System */
:root {
    /* Colors */
    --clr-orange-500: hsl(7, 88%, 67%);
    --clr-orange-700: hsl(7, 71%, 60%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-300: hsl(252, 6%, 83%);
    --clr-neutral-500: hsl(245, 15%, 58%);
    --clr-neutral-700: hsl(245, 19%, 35%);
    --clr-neutral-900: hsl(248, 70%, 10%);

    --grd-orange-white: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));

    /* Font families */
    --ff-sans: 'Inconsolata', ui-monospace, monospace;

    /* Font sizes */
    --fs-200: 0.75rem;   /* 12px */
    --fs-300: 0.875rem;  /* 14px */
    --fs-400: 1rem;      /* 16px */
    --fs-500: 1.125rem;  /* 18px */
    --fs-550: 1.25rem;   /* 20px */
    --fs-600: 1.5rem;    /* 24px */
    --fs-700: 1.875rem;  /* 30px */
    --fs-750: 1.9375rem; /* 31px */
    --fs-800: 2.5rem;    /* 40px */
    --fs-900: 3.75rem;   /* 60px */

    /* Font weights */
    --fw-400: 400;
    --fw-500: 500;

    --fw-700: 700;
    --fw-800: 800;

    /* Line height */
    --lh-200: 1.1;
    --lh-300: 1.3;
    --lh-400: 1.5;

    /* Spacing */
    --sp-200: 0.25rem;
    --sp-300: 0.5rem;
    --sp-400: 1rem;
    --sp-450: 1.5rem;
    --sp-500: 2rem;
    --sp-550: 3rem;
    --sp-600: 4rem;

    /* Shadows */
    --shadow-500: 0 2px 2px hsla(247, 69%, 10%, 0.5);
}

@layer reset {
    /* Box sizing rules */
    *,
    *::before,
    *::after {
    box-sizing: border-box;
    }

    /* Prevent font size inflation */
    html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    }

    /* Remove default margin in favour of better control in authored CSS */
    body, h1, h2, h3, h4, p,
    figure, blockquote, dl, dd {
    margin-block-end: 0;
    }

    /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
    ul, ol {
    list-style: none;
    }

    /* Set core body defaults */
    body {
    min-height: 100dvh;
    line-height: var(--lh-300);
    }

    /* Set shorter line heights on headings and interactive elements */
    h1, h2, h3, h4, h5,
    button, input, label {
    line-height: var(--lh-200);
    }

    /* Make images easier to work with */
    img,
    picture {
    max-width: 100%;
    display: block;
    }

    /* Inherit fonts for inputs and buttons */
    input, button,
    textarea, select {
    font-family: inherit;
    font-size: inherit;
    }

    /* Make sure textareas without a rows attribute are not tiny */
    textarea:not([rows]) {
    min-height: 10em;
    }

    /* Anything that has been anchored to should have extra scroll margin */
    :target {
    scroll-margin-block: 5ex;
    }

    /* remove animations for people who've turned them off */
    @media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
    }
}

@layer base {    
    html {
    font-family: var(--ff-sans);
    font-size: 100%;
    scroll-behavior: smooth;
    }

    body {
        padding-block-end: var(--sp-550);
        font-size: var(--fs-400);
        letter-spacing: calc(-0.02 * var(--fs-500));
        background-color: var(--clr-neutral-900);
        background-image: 
            url(./assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg),
            url(./assets/images/pattern-circle.svg),
            url(./assets/images/pattern-circle.svg),
            url(./assets/images/pattern-squiggly-line-top.svg),
            url(./assets/images/pattern-lines.svg),
            url(./assets/images/background-mobile.png);
        background-position:
            left bottom,
            right -2.4rem bottom 35%,
            top -1rem left -1rem,
            right top 1.5rem,
            center top,
            center;
        background-size: 16rem, 6rem, 6rem, 6rem, cover, cover;
        background-repeat: no-repeat;
        background-blend-mode: lighten;
        color: var(--clr-neutral-100);

        @media (width > 768px) {
            background-image: 
                url(./assets/images/pattern-squiggly-line-bottom-desktop.svg),
                url(./assets/images/pattern-circle.svg),
                url(./assets/images/pattern-circle.svg),
                url(./assets/images/pattern-squiggly-line-top.svg),
                url(./assets/images/pattern-lines.svg),
                url(./assets/images/background-desktop.webp);
            background-position:
                left bottom,
                right 25% bottom 35%,
                top -4rem left 4rem,
                right top 4rem,
                center top,
                center;
            background-size: 48rem, 12rem, 12rem, 24rem, cover, cover;
        }
    }
    
    :focus-visible {
        outline: 2px solid  var(--clr-neutral-300);
        outline-offset: 3px;
    }
}

@layer utilities {
  /* layout */
  .flex {
      display: flex;
      gap: var(--gap, 1rem);
  }

  .grid {
      display: grid;
      gap: var(--gap, 1rem);
  }

  .wrapper {
      padding-inline: .5rem;
      margin-inline: auto;
      max-width: 60rem;
  }

  /* colors */

  .bg-orange-500 { background-color: var(--clr-orange-500);}
  .bg-orange-700 { background-color: var(--clr-orange-700);}
  .bg-white { background-color: var(--clr-white);}

  .text-dark { color: var(--clr-neutral-900);}
  .text-accent { color: var(--clr-neutral-300);}
  .text-accent-2 { color: var(--clr-neutral-500);}
  .text-accent-3 { color: var(--clr-neutral-700);}
  .text-white { color: var(--clr-neutral-100);}
  .text-orange-500 { color: var(--clr-orange-500);}

  /* typography */

  .ff-sans { font-family: var(--ff-primary); } 
 
  .fs-900 { font-size: var(--fs-900); }
  .fs-800 { font-size: var(--fs-800); }
  .fs-700 { font-size: var(--fs-700); }
  .fs-600 { font-size: var(--fs-600); }
  .fs-550 { font-size: var(--fs-550); }
  .fs-500 { font-size: var(--fs-500); }
  .fs-400 { font-size: var(--fs-400); }
  .fs-300 { font-size: var(--fs-300); }
  .fs-200 { font-size: var(--fs-200); }

  .fw-400 { font-weight: 400;}
  .fw-500 { font-weight: 500;}
  .fw-700 { font-weight: 700;}
  .fw-800 { font-weight: 800;}

  .text-center { text-align: center; }

  .error-message {
    color: var(--clr-orange-700);
    opacity: .9;
  }
}

@layer components {
    header {
        margin-inline: auto;
        margin-block: var(--sp-500);
        inline-size: 44%;

        img {
            margin: auto;
        }
    }
    
    .upload-section  {
        > h1 {
            font-size: clamp( var(--fs-700),1.12rem + 2.8vw, var(--fs-900) );
            letter-spacing: clamp( calc( -0.035 * var(--fs-700)), -.1rem + .07vw ,calc( -0.016 * var(--fs-900)) );
            margin: auto;
            max-inline-size: 28ch;
        }

        > p {
            padding-inline: var(--sp-400);
            font-size: clamp( var(--fs-550), 1.16rem + .38vw, var(--fs-600) );
            letter-spacing: calc( -0.0235 * var(--fs-550) );
        }
    }

    .upload-field {
        margin-inline: auto;
        margin-block: 2rem 1rem;
        max-inline-size: 460px;

        label span {
            font-size: var(--fs-500);
            letter-spacing: calc( -0.025 * var(--fs-500));
        }

        .custom-file-input {
            margin-block: var(--sp-300);
            padding-block: var(--sp-400);
            background-color: hsl(from var(--clr-neutral-700) h s l / 0.2);
            border: 2px dashed var(--clr-neutral-500);
            border-radius: 12px;
            backdrop-filter: blur(3px);
            cursor: pointer;

            img {
                margin: auto;
                padding: var(--sp-300);
                inline-size: 48px;
                aspect-ratio: 1;
                background-color: hsl(from var(--clr-neutral-500) h s l / 0.25);
                border: 1px solid var(--clr-neutral-700);
                border-radius: 12px;
                box-shadow: var(--shadow-500);
            }

            p {
                display: block;
                letter-spacing: 0;
            }

            .img-buttons {
                display: none;
                justify-content: center;
                gap: var(--sp-300);
                margin-block: calc( var(--sp-400) - 5.8px) 0;
            }

            button {
                padding: var(--sp-200) var(--sp-300);
                color: var(--clr-neutral-300);
                background-color: hsl(from var(--clr-neutral-500) h s l / 0.25);
                border: none;
                border-radius: 4px;
                
                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 3px;
                }
            }

            &:hover {
                background-color: hsl(from var(--clr-neutral-700) h s l / 0.75);               
            }
        }

        .upload-info {
            display: flex;
            gap: var(--sp-300);

            p {
                margin: 0;
            }
        }
    }

    .form-section{
        margin-inline: auto;
        max-inline-size: 460px;

        label {
            font-size: var(--fs-500);
            letter-spacing: calc( -0.025 * var(--fs-500));
        }
    }

    .form-section input {
            padding: var(--sp-400);
            inline-size: 100%;
            border-radius: 12px;
            caret-color: var(--clr-neutral-100);

            &:not(:last-child) {
                margin-block: var(--sp-300) var(--sp-450);
                color: var(--clr-neutral-100);
                background-color: hsl(from var(--clr-neutral-700) h s l / 0.2);
                border: 1px solid var(--clr-neutral-500);
                backdrop-filter: blur(6px);   

                &:hover {
                    background-color: hsl(from var(--clr-neutral-700) h s l / 0.75);               
                }

            }
            &:last-child {
                letter-spacing: calc( -0.015 * var(--fs-550));
                border: none;

                &:hover {
                    background-color: var(--clr-orange-700);
                    box-shadow: inset 0 -4px 0 var(--clr-orange-500);   
                    cursor: pointer;          
                }
            }
            &::placeholder {
                color: var(--clr-neutral-500);
            }
            
    }

    .email-info {
        display: none;
        gap: var(--sp-300);
        margin:  0;
        
        p {
            margin: 0;
        }
    }

    .ticket-generated {
        display: none;

        h2 {
            font-size: clamp( var(--fs-700),1.12rem + 2.8vw, var(--fs-900) );
            letter-spacing: clamp( calc( -0.035 * var(--fs-700)), -.1rem + .07vw ,calc( -0.016 * var(--fs-900)) );
            margin: auto;
            max-inline-size: 28ch;
        }
        > p {
            margin-inline: auto;
            max-inline-size: 38ch;
        }

        .name-span {
            color: transparent;
            background: var(--grd-orange-white);
            background-clip: text;
        }

        .ticket {
            display: flex;
            gap: var(--sp-400);
            justify-content: space-between;
            margin-block: var(--sp-600);
            margin-inline: auto;
            padding: var(--sp-400);
            max-inline-size: 345px;
            background-image: url(./assets/images/pattern-ticket.svg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        .start-col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: var(--sp-500);
        }

        .event-info {
            display: flex;
            gap: var(--sp-400);

            img {
                align-self: start;
                inline-size: 30px;
            }

            .time-location {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h3 {
                    margin: 0;
                }
                
                p {
                    margin-block-start: var(--sp-300);
                    letter-spacing: 0;
                    
                    @media (width < 375px) {
                        letter-spacing: -0.5px;
                        
                    }
                }
            }
        }
        .user-info {
            display: flex;
            gap: var(--sp-400);
            
            > img {
                inline-size: 45px;
                block-size: 45px;
                border-radius: 6px;
            }
            
            .user-details {
                display: flex;
                flex-direction: column;
                h4 {
                    margin: 0;
                }
                
                .user-github {
                    display: inline-flex;
                    gap: var(--sp-200);
                    margin-block-start: var(--sp-300);
                    
                    img {
                        inline-size: 18px;
                    }
                    p {
                        margin: 0;
                    }
                }
            }
        }
        .ticket-number {
            writing-mode: vertical-lr;
            place-self: center;
            
            p {
                margin: 0;
            }
        }

        @media (width > 768px) {
            > p {
                font-size: var(--fs-600);
                letter-spacing: calc( -0.022 * var(--fs-600));
            }
            .ticket {
                padding: var(--sp-450);
                max-inline-size: 600px;
                block-size: 280px;
                background-size: cover;
            }
            h3 {
                font-size: var(--fs-800);
                letter-spacing: calc( -0.025 * var(--fs-800)); 
            }
            h4 {
                font-size: var(--fs-750);
                letter-spacing: calc( -0.05 * var(--fs-750)); 
            }
            .event-info {
                img {
                    inline-size: 40px;
                }
                p {
                    font-size: var(--fs-500);
                }
            }
            .user-info {
                > img {
                    inline-size: 80px;
                    block-size: 80px;
                }
                p {
                    font-size: var(--fs-550);
                    letter-spacing: calc( -0.025 * var(--fs-550));
                }
            }
            .ticket-number p {
                font-size: var(--fs-750);
            }
            
        }
            
    }

}
